.bienvenida {
	text-align: center;
	padding: 4rem 2rem;
}
.bienvenida-titulo {
	margin-bottom: 2rem;
}
.bienvenida-elementos {
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	overflow: hidden;
}
.bienvenida-elementos img {
	max-width: 40%;
	min-height: 100%;
	object-fit: cover;
}
.bienvenida-elementos > div {
	margin-left: 2rem;
}
.bienvenida-texto {
	text-align: left;
	margin-top: 0;
	margin-bottom: 2rem;
}
.bienvenida-boton-container {
	text-align: right;
}

/* Media queries and responsive design */
@media only screen and (max-width: 768px) {
	.bienvenida-elementos {
		flex-direction: column;
	}
	.bienvenida-elementos img {
		max-width: 100%;
		height: 20rem;
		margin-bottom: 2rem;
	}
	.bienvenida-elementos > div {
		margin-left: 0;
	}
	.bienvenida-boton-container {
		text-align: center;
	}
}
