.footer {
	padding: 4rem 2rem;
	color: white;
	background-color: black;
	display: flex;
	align-content: flex-start;
	justify-content: space-between;
}
.flex-50 {
	flex: 1;
}
.mapa-elementos {
	display: flex;
}
.mapa {
	max-width: 100%;
	max-height: 100%;
	flex: 1;
}
.footer-contacto {
	margin: 0 1rem;
	flex: 1;
}
.footer-contacto span {
	display: block;
	margin-bottom: 1rem;
}
.footer-contacto span i {
	display: block;
	margin-bottom: 0.6rem;
	font-size: 2rem;
}
.newsletter {
	margin-bottom: 1rem;
}
.newsletter-form {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}
.newsletter-input {
	margin-right: 1rem;
	width: 100%;
	height: 42px;
	padding: 1rem;
	border: 1px solid #ccc;
	font-family: Avenir, Helvetica, Arial, sans-serif;
}
.newsletter-input:focus {
	background-color: lightyellow;
}
.newsletter-button {
	background-color: gray;
	color: white;
}
.social-media a {
	color: white;
}
.social-media .fa-brands {
	font-size: 3rem;
	margin-right: 1rem;
	cursor: pointer;
}
.social-media .fa-brands:hover {
	color: gray;
}

/* Media queries and responsive design */
@media only screen and (max-width: 768px) {
	.footer {
		flex-direction: column-reverse;
	}
	.mapa-elementos {
		margin-top: 2rem;
	}
	.footer-contacto {
		margin: 0;
		text-align: center;
	}
}

@media only screen and (max-width: 640px) {
	.newsletter {
		text-align: center;
	}
	.newsletter-form {
		display: block;
	}
	.newsletter-input {
		margin: 0 0 1rem 0;
	}
	.newsletter-button {
		width: 100%;
	}
	.social-media {
		display: flex;
		justify-content: center;
	}
	.social-media #sm-last-child {
		margin: 0;
	}
	.mapa-elementos {
		display: block;
	}
	.mapa {
		height: 10rem;
		margin-bottom: 2rem;
	}
}
