.principales {
	text-align: center;
	padding: 4rem 2rem;
	background-color: #282828;
	color: white;
}
.principales-titulo {
	margin-bottom: 2rem;
}
.principales-elementos {
	display: flex;
	margin-bottom: 2rem;
}
.principales-elementos div:not(:last-child) {
	margin-right: 6rem;
}
.principales-imagen {
	width: 100%;
}
.principales-texto {
	text-align: left;
}
/* Media queries and responsive design */
@media only screen and (max-width: 1024px) {
	.principales-elementos div:not(:last-child) {
		margin-right: 4rem;
	}
}

@media only screen and (max-width: 767px) {
	.principales-elementos {
		display: block;
		margin: 0;
	}
	.principales-elementos div:not(:last-child) {
		margin-right: 0;
	}
	/* Principales elementos cardboxes */
	.principales-elementos div {
		width: 100%;
		padding: 0 4rem 2rem 4rem;
	}
	.principales-imagen {
		height: 16rem;
		object-fit: cover;
	}
}

@media only screen and (max-width: 640px) {
	.principales-elementos div {
		padding: 0;
		margin-bottom: 3rem;
	}
}
